<div class="container-fluid faq-g12">
    <div class="container">
        <div class="faq-top">
            <h2>Frequently Asked Questions (FAQs)</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row faq-r1">
            <div class="col-md-6 pad-faq">
                <div class="faq-r2">
                    <h2>What is PASS.NG?</h2>
                    <p>Pass.ng is an exam preparation and testing platform that helps student prepare for Nigeria's most important examination right from the comfort of their mobile device or computer. Candidates are provided with mock questions, answers,
                        analytical solutions, an opportunity to simulate the exam electronically, compete with fellow exam mates and finally, track progress and be the best.</p>
                </div>
                <div class="faq-r2">
                    <h2>What is the cost of this service?</h2>
                    <p>Pass.ng comes in flexible plans:</p>
                    <ul class="ul-faq">
                        <li>N100/daily</li>
                        <li>N200/daily</li>
                        <li>N500/monthly subscription</li>
                    </ul>
                </div>
                <div class="faq-r2">
                    <h2>How will get access to this service?</h2>
                    <p>Visiting www.pass.ng to sign up and take a test from any data enabled device or by downloading the PASS.NG mobile application (Android users alone) from Play Store</p>
                </div>
                <div class="faq-r2">
                    <h2>How do I subscribe?</h2>
                    <p>Pass.ng comes in flexible plans:</p>
                    <ul class="ul-faq">
                        <li>By choosing a subscription plan <a href="">here</a> the App</li>
                        <li>By recharging the associated airtime and dialing *727# from a mobile device (Airtel users only)</li>
                        <li>Or by loading the associated Recharge card pin directly <a href="">here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pad-faq">
                <div class="faq-r2">
                    <h2>What are the supported devices?</h2>
                    <p>Data enabled device including Java, Android, BlackBerry and IOS phones. Desktop computers or laptops.</p>
                </div>
                <div class="faq-r2">
                    <h2>Will I get renewed?</h2>
                    <p>Airtel users will automatically be renewed after the expiry of their current subscription</p>
                </div>
                <div class="faq-r2">
                    <h2>Will my service continue if I change my handset or mobile number?</h2>
                    <p>The service is MSISDN-specific; however, where you change your device, you will be required to download the App (incase of App users)and Log In. But If you do not use the Android App, simply log in on the website with your existing
                        credentials
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--connect -->

<div class="container-fluid connect">

    <div class="row con-r1">
        <div class="col-md-6">
            <h2>Connect with us</h2>
        </div>
        <div class="col-md-6">
            <ul class="ul-con">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wechat"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>