<section>
    <div class="container-fluid faq-g12">
        <div class="container">
            <div class="faq-top">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section>
    <div class="container-fluid faq-g13">
        <div class="container">
            <div class="faq-tp">
                <h2>Pass.ng is a web, desktop and mobile-app based CBT examination preparatory <br>and testing platform, with a vision to help candidates<br> excel in all major Nigerian examinations and tests.</h2>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row inner-message">
                <div class="col-md-4 address-content">
                    <h2 class="m1">Our Address</h2>
                    <p class="m2">38, Olonade Street</p>
                    <p class="m2">Yaba, Lagos Nigeria.</p>
                    <h2 class="m1">Via Phone</h2>
                    <p class="m2">+234-701-2222-333</p>
                    <h2 class="m1">Via Email</h2>
                    <p class="m2">info@pass.ng</p>
                    <p class="m4">Looking for online support?</p>
                    <p class="m5">Talk to us now using our online chat</p>
                </div>
                <div class="col-md-8 address-message">
                    <h2 class="m1">Send us a message</h2>
                    <p class="m2">Do you have enquires or suggestions? </p>
                    <p class="m2">We'll get in touch with you as soon as possible.</p>
                    <div class="form-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Name</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Subject</label>
                                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Body</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="group">
                                <span>Verification code</span><input type="email" class="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="button-submit">
                                <a routerLink="" class="btn btn-submit">Submit</a>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->

<section>
    <div class="container-fluid connect">
        <div class="container">
            <div class="row con-r1">
                <div class="col-md-4">
                    <h2>Connect with us</h2>
                </div>
                <div class="col-md-8">
                    <ul class="ul-con">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-wechat"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  -->
<!-- 
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul-hottest">
                    <li>N-POWER </li>
                    <li>JAMB CBT</li>
                    <li>WAEC TEST</li>
                    <li>POST UTME</li>
                    <li>NECO MOCK</li>
                    <li>TEST JSCE</li>
                    <li>SCHOOL OF NURSING</li>
                    <li>COMMON ENTRANCE</li>
                    <li>APTITUDE TEST</li>
                </ul>
            </div>
        </div>
    </div>
</section> -->