<div class="container-fluid foot-r1">
    <div class="white">
        <div class="row foot-r2">
            <div class="col-md-3">
                <div class="foot-r4">
                    <h2>TEST &amp; RESOURCES </h2>
                </div>
                <ul class="ul-footer">
                    <li>
                        <a href="#">
                        N-POWER
                            </a>
                    </li>
                    <li>
                        <a href="#">
                            JAMB CBT
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            WAEC TEST
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            POST UTME
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            NECO
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            MOCK TEST
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            JSCE
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            SCHOOL OF NURSING
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            COMMON ENTRANCE
                                </a>
                    </li>
                    <li>
                        <a href="#">
                            APTITUDE TEST
                                </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="foot-r4">
                    <h2> MENU </h2>
                </div>
                <ul class="ul-footer">
                    <li>
                        <a>
                        About us
                            </a>
                    </li>
                    <li>
                        <a>
                           Contact us
                                </a>
                    </li>
                    <li>
                        <a>
                            Gallery
                                </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="foot-r4">
                    <h2> SOCIAL </h2>
                </div>
                <ul class="ul-footer">
                    <li>
                        <a href="#">
                        Google+
                            </a>
                    </li>
                    <li>
                        <a href="#">
                           Facebook
                                </a>
                    </li>
                    <li>
                        <a href="#">
                           Twitter
                                </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 foot-r3">
                <h2>Sign up for our newsletter and we'll inform you of updates, offers and more.</h2>
                <form>
                    <div class="form-group">
                        <input type="email" name="Newsletters[email]" class="form-control" placeholder="Your email address" />
                        <input type="submit" class="sign-footer" value="Sign up" />
                    </div>
                </form>
            </div>
        </div>
        <div class="ft-x1">
            <h2>Copyright &copy; 2018. Pass.ng</h2>
        </div>
    </div>
</div>