<nav class="navbar navbar-expand-lg bg-dark navbar-dark white">
    <a class="navbar-brand" href="index.html">
        <img src="assets/image/Capture1.JPG" alt="logo" class="img-responsive" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="button-label">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">take a test
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/jamb">JAMB CBT</a>
                    <a class="dropdown-item" routerLink="/waec">WAEC TEST</a>
                    <a class="dropdown-item" routerLink="/post">POST UTME</a>
                    <a class="dropdown-item" routerLink="/neco">NECO</a>
                    <a class="dropdown-item" routerLink="/mock">MOCK TEST</a>
                    <a class="dropdown-item" routerLink="/jssce">JSSCE</a>
                    <a class="dropdown-item" routerLink="/nursing">SCHOOL OF NURSING</a>
                    <a class="dropdown-item" routerLink="/jambmock">JAMB MOCK TEST</a>
                    <a class="dropdown-item" routerLink="/common">COMMON ENTRANCE</a>
                    <a class="dropdown-item" routerLink="/aptitude">APTITUDE TEST</a>
                    <a class="dropdown-item" href="https://www.pass.ng/npower/">N-POWER</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">download
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=clickright.educativeApp">ANDROID APP</a>
                    <a class="dropdown-item" routerLink="/desktop">OFFLINE DESKTOP APP</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">about
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/about">ABOUT US</a>
                    <a class="dropdown-item" routerLink="/faq">FAQS</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://pass.com.ng/">blog</a>
            </li>
            <li class="nav-item login">
                <a routerLink="/login" class="btn btn-login">
                                login
                </a>
            </li>
        </ul>
    </div>
</nav>