<div class="container-fluid jamb-one">
    <div class="white top-border">
        <div class="admit">
            <h2>EXAMINATIONS & RESOURCES AVAILABLE</h2>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        NAVY
                                    </h2>
                                    <p>Nigeria Naval Entrance Examination</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>-</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                NCEE
                                <img src="assets/image/jamb-logo.png" class="pull-right" alt="">
                            </h2>
                            <p>Nigerian Common Entrance Examination</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>-</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>



    </div>
</div>