<div class="container-fluid leaf-rx">
    <div class="container leaf-fx">
        <div class="row">
            <div class="col-md-12">
                <div class="leaf-r1 port-lf">
                    <h2 class="leaf-a1">Welcome to PASS.NG JAMB MOCK TEST</h2>
                    <h2 class="leaf-b2">Supply your phone number</h2>
                    <p class="leaf-c12">Mobile Number registered on PASS.NG</p>

                    <div class="jmt-r1">
                        <form>
                            <div class="form-group">
                                <input type="phonenumber" class="form-control" id="exampleInputphonenumber" aria-describedby="phonenumberHelp" placeholder="Phone number">
                            </div>
                        </form>
                    </div>
                    <div class="leaf-d14">
                        <button class="btn btn-leaf">Continue</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>