<div class="container-fluid mock-back">
    <div class="white mock-fed">
        <div class="mock-r1">
            <h2>
                <i class="fa fa-exclamation-circle"></i> Mock Test</h2>
            <p>Select your combination of subjects below and proceed</p>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Agricultural Science</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Biology</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Chemistry</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Civic Education</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Commerce</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">CRK</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Economics</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">English</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label m12" for="exampleCheck1">English Language</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">General Science</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Government</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mathematics</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mock-b12">
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Verbal Reasoning</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mock-x1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Quantitave Reasoning</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mock-continue">
            <button class="btn btn-mock-continue">Login to continue
                <i class="fa fa-long-arrow-right"></i>
            </button>
        </div>
    </div>
</div>