<div class="container-fluid jamb-one">
    <div class="white top-border">
        <div class="admit">
            <h2>SCHOOL OF NURSING ENTRANCE EXAMINATION PREPARATORY TEST (SCHOOL OF NURSING)</h2>
        </div>
        <div class="row">
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                Mathematics
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                Biology
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                English
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                Chemistry
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                Physics
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                Current Affairs
                                <!-- <img src="assets/image/jamb-logo.png" class="pull-right" alt=""> -->
                            </h2>
                            <p>Test on the study of accounts principles and book-keeping</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/letter-a.png" alt="" class="img-responsive">
                            </li>
                            <li>Questions</li>
                            <li>50</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/clock-circular-outline.png" alt="" class="img-responsive">
                            </li>
                            <li>Duration </li>
                            <li>50min</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </div>
</div>