<div class="container-fluid p-back">
    <div class="container">
        <div class="top">
            <h2>POST-UTME</h2>
            <p>Select your Type of school below</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <select class="form-control form-control-lg" type="text" placeholder=".form-control-sm">
                    <option>Universities</option>
                    <option>Abia State University</option>
                    <option>Adekunle Ajasin Univeristy, Akungba</option>
                    <option>Amodu Bello University</option>
                    <option>Ambrose Alli University</option>
                    <option>Anambra State University</option>
                    <option>Bayer University Kano</option>
                    <option>Covenant University</option>
                    <option>Delta State University</option>
                    <option>Ebonyi State University</option>
                    <option>Ekiti State University</option>
                    <option>Enugu State University Of Science and Technology</option>
                    <option>Federal University of Dutse</option>
                    <option>Federal University of Gusau</option>
                    <option>Federal University of Agriculture Zaria</option>
                    <option>Federal University of Petroleum Resources, Effurun</option>
                    <option>Federal University of Technology, Akure</option>
                    <option>Federal University of Technology, Minna</option>
                    <option>Federal University of Owerri</option>
                    <option>General University Questions</option>
                    <option>Imo State University</option>
                    <option>Kaduna State University</option>
                    <option>Kogi State University</option>
                    <option>Kwara State University</option>
                    <option>Ladoke Akintola University of Technology</option>
                    <option>Lagos State University</option>
                    <option>Nigeria Police Academy</option>
                    <option>Nmadi Azikwe Univeristy</option>
                    <option>North West University Kano</option>
                    <option>Obafemi Awolowo University</option>
                    <option>Olabisi Onabanjo University</option>
                    <option>Petroleum Training Institute</option>
                    <option>River State University Of Technology</option>
                    <option>Tai-solarin University Of Education</option>
                    <option>University of Abuja</option>
                    <option>University of Calabar</option>
                    <option>University of Ibadan</option>
                    <option>University of Ilorin</option>
                    <option>University of Jos</option>
                    <option>University of Lagos</option>
                    <option>University of Nigeria Nsukka</option>
                    <option>University of Port Harcourt</option>
                    <option>University of Uyo</option>
</select>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <select class="form-control form-control-lg" type="text" placeholder=".form-control-sm">
                    <option>Polytechnics</option>
                    <option>Federal Polytechnic EDE</option>
                    <option>Federal Polytechnic Ilaro</option>
                    <option>Federal Polytechnic Kaura-Namoda</option>
                    <option>Federal Polytechnic Nekede</option>
                    <option>Federal Polytechnic Oka</option>
                    <option>Imo State Polytechnic</option>
                    <option>Lagos State Polytechnic</option>
                    <option>Moshoos Abiola Polytechnic</option>
                    <option>Rufus Giwa Polytechnic</option>
                    <option>Polytechnic Of Ibadan</option>
                    <option>Yaba College Of Technology</option>
                </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <select class="form-control  form-control-lg" type="text" placeholder=".form-control-sm">
                    <option>College</option>
                    <option>Nigeria College Of Aviation and Technology, Zaria</option>
                </select>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <a href="" class="btn btn-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>