<div class="container-fluid jamb-one">
    <div class="white top-border">
        <div class="admit">
            <h2>EXAMINATIONS & RESOURCES AVAILABLE</h2>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                JAMB CBT
                                <img src="assets/image/jamb-logo.png" class="pull-right" alt="">
                            </h2>
                            <p>Joint Admission & Matriculation Board</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>10</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>20</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>252457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                WAEC TEST
                                <img src="assets/image/waec.png" class="pull-right" alt="">
                            </h2>
                            <p>West African Examination Council</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>16</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>15</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>514936</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <h2>
                                NECO
                                <img src="assets/image/neco.png" class="pull-right" alt="">
                            </h2>
                            <p>National Examination Council</p>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>15</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>8</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>252457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        JSCE
                                    </h2>
                                    <p>Junior School Certificate Examination</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>10</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>20</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>252457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        NAVY
                                    </h2>
                                    <p>Nigeria Naval Entrance Examination</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>5</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>6</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>252457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        POST UTME
                                    </h2>
                                    <p>Post Unified Tertiary Matriculation Examination</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of Schools</li>
                            <li>57</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>425</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>352862</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        MOCK TEST
                                    </h2>
                                    <p>Take aggregated exams and prove how prepared you are.</p>

                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>5825</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        COMMON ENTRANCE
                                    </h2>
                                    <p>Skill Test</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>-</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        APTITUDE TEST
                                    </h2>
                                    <p>Aptitude Test for job</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of Years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>-</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        N-Power
                                    </h2>
                                    <p>Federal Government Empowerment Initiative
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>232457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        STUDY MODE
                                    </h2>
                                    <p>This part you study on every test</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>6</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>2457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        ICAN
                                    </h2>
                                    <p>Institute of Chartered Accountants of Nigeria</p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of Years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>-</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 jamb-a1">
                <div class="jamb-r1">
                    <a href="#">
                        <div class="inner-jamb">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>
                                        Junior Waec
                                    </h2>
                                    <p>Junior exam for secondary school students in their 3rd year
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-exclamation-circle pull-right"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-jamb tat-x1">
                            <li class="fa">
                                <img src="assets/image/bank-building.png" alt="" class="img-responsive">
                            </li>
                            <li>Number of years</li>
                            <li>Unlimited</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/book.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>All</li>
                        </ul>
                        <ul class="ul-jamb">
                            <li class="fa">
                                <img src="assets/image/chat.png" alt="" class="img-responsive">
                            </li>
                            <li>Total Attempt &nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>2457</li>
                        </ul>
                        <div class="jamb-min">
                            <a href="" class="btn btn-min">
                                <i class="fa fa-power-off"></i> Start now
                            </a>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>