<section class="login-bk">
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-body">
                <div class="login-form">
                    <div class="inner-body">
                        <h2 class="inner-text">Forgot your Password?</h2>
                        <p>Kindly supply your PASS.NG Phone no. or e-mail below</p>
                        <p>NOTE (MTN Users): To receive SMS, Text STOP to 2442, after that Text ALLOW to 2442 then supply your phone number below. Text is FREE.</p>
                        <span>OR</span>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone number">
                        </div>
                        <div class="detail">
                            <h2>A reset code will be sent to your phone.</h2>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label lemon" for="exampleCheck1">Send an e-mail instead</label>
                        </div>
                        <a href="" class="btn btn-login">
                                Continue
                            </a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>