<!-- BLOCK 1 STARTS HERE -->
<div class="container-fluid fp-image">
    <div class="container fp-r1">
        <h2 class="fp-head">Prepare for your coming examination here</h2>
        <p class="fp-text">Pass in one sitting!</p>
        <ul class="fp-option">
            <li><a href=""><i class="fa fa-plus-square"></i>    N-POWER</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> DPR</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> JAMB EXAM</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> WAEC</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> NECO</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> COMMON ENTRANCE</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i> ICAN</a></li>
        </ul>
    </div>
</div>

<!--BLOCK 1 ENDS HERE -->

<!-- BLOCK 2 STARTS HERE -->
<div class="container-fluid">
    <div class="">
        <div class="row start-n1">
            <div class="col-md-4 start-r1 start-r2">
                <a href="#">
                    <img src="assets/image/live.png" alt="image" class="img-responsive">
                    <h2>Practise CBT Online</h2>
                    <p>Select Test, Register and Practise</p>
                    <a routerLink="/test" class="btn btn-start">
                        Start Testing
                    </a>

                </a>
            </div>
            <div class="col-md-4 start-r1 start-r2">
                <a href="#">
                    <img src="assets/image/no-wifi.png" alt="image" class="img-responsive">
                    <h2>Practise without Internet</h2>
                    <p>Download our offline CBT software</p>
                    <a routerLink="/desktop" class="btn btn-start">
                        Download Now
                    </a>
                </a>
            </div>
            <div class="col-md-4 start-r1">
                <a href="">
                    <img src="assets/image/app.png" alt="image" class="img-responsive">
                    <h2>Download Android App</h2>
                    <p>You can practise anywhere, anytime</p>
                    <a href="https://play.google.com/store/apps/details?id=clickright.educativeApp" class="btn btn-start">
                        Download Now
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 2 ENDS HERE -->

<!-- BLOCK 3 STARTS HERE -->

<div class="container-fluid ft-r1">
    <div class="container ft-x1">
        <div class="test">
            <h2>FEATURED TEST &amp; RESOURCES</h2>
        </div>
        <div class="row element-r1">
            <div class="col-md-4 port">
                <a routerLink="/nursing">
                    <h2>SCHOOL OF NURSING</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/post">
                    <h2>POST-UTME TEST</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/jamb">
                    <h2>JAMB EXAM</h2>
                </a>
            </div>
        </div>
        <div class="row element-r1">
            <div class="col-md-4 port">
                <a routerLink="/waec">
                    <h2>WAEC TEST</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="https://pass.ng/unilagdiploma/">
                    <h2>UNILAG DIPLOMA</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/waec">
                    <h2>UNILAG MASTERS</h2>
                </a>
            </div>
        </div>
        <div class="row element-r1">
            <div class="col-md-4 port">
                <a routerLink="/neco">
                    <h2>NECO TEST</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a href="https://www.pass.ng/npower/">
                    <h2>N-POWER</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/jambmock">
                    <h2>MOCK TEST</h2>
                </a>
            </div>
        </div>
        <div class="row element-r1">
            <div class="col-md-4 port">
                <a routerLink="/common">
                    <h2>COMMON ENTRANCE</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="">
                    <h2>DPR</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/jssce">
                    <h2>JUNIOR WAEC</h2>
                </a>
            </div>
        </div>
        <div class="row element-r1">
            <div class="col-md-4 port">
                <a routerLink="">
                    <h2>ICAN</h2>
                </a>
            </div>
            <div class="col-md-4 port">
                <a routerLink="/aptitude">
                    <h2>APTITUDE TEST</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 3 ENDS HERE -->

<!-- BLOCK 4 STARTS HERE -->
<div class="container-fluid">
    <div class="container">
        <div class="row ride">
            <div class="col-md-6 mrt-x1">
                <img src="assets/image/desktop2017.png" alt="img" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="inner-text">
                    <div class="prac">
                        <h2 class="total">Want to practise CBT Totally Offline</h2>
                    </div>
                    <div class="jamb">
                        <p class="sol">We have the right CBT solution for you. Download the 2018 JAMB CBT Offline Software for any type of computer. Usage is easy &amp; it is 100% offline.</p>
                    </div>
                    <div class="now">
                        <a href="/desktop" class="btn btn-now">
                            Download now
                        </a>
                    </div>
                    <p class="amount">N1,500 only</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 4 ENDS HERE -->

<!-- BLOCK 5 STARTS HERE -->

<div class="container-fluid num">
    <div class="container">
        <div class="row core-text">
            <div class="col-md-9 num-r1">
                <h2>250,000+ Candidates have solved 3,250,000+ tests using PASS.NG</h2>
            </div>
            <div class="col-md-3">
                <div class="more">
                    <a routerLink="/faq" class="btn btn-more">Tell me more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOCK 5 ENDS HERE -->

<!-- BLOCK 6 STARTS HERE -->

<div class="container-fluid">
    <div class="container">
        <div class="row app-x1">
            <div class="col-md-5">
                <div class="app-r1">
                    <h2>Download our Android app</h2>
                </div>
                <div class="app-r2">
                    <p>Download Our FREE Android App and practise anytime, <br>anywhere.</p>
                </div>
                <div class="app-r3">
                    <a href="https://play.google.com/store/apps/details?id=clickright.educativeApp" class="btn btn-here">Download Here</a>
                </div>
            </div>
            <div class="col-md-7 dwn-r1">
                <div class="dwn-x1">
                    <img src="assets/image/android.jpg" alt="" class="img-responsive dwn-f1">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOCK 6 ENDS HERE -->

<!-- BLOCL 7 STARTS HERE -->
<div class="container-fluid cent">
    <div class="container">
        <div class="row cent-r1 cent-r2">
            <div class="col-md-6 tut">
                <img src="assets/image/find.png" alt="image" class="img-responsive">
                <h2>Locate a Tutorial Centre</h2>
                <p>
                    For Free! You can locate the best Tutorial Centres in your location or any part <br>of lagos offering prep for your examination.
                </p>
                <button class="btn btn-locate">Try now</button>
            </div>
            <div class="col-md-6 tut">
                <img src="assets/image/laptop.png" alt="image" class="img-responsive">
                <h2>Offline Desktop Software</h2>
                <p>
                    Simulate JAMB CBT on your Computer without having to worry about internet access. With 16 years of JAMB Past-Questions and Answers
                </p>
                <button class="btn btn-locate">Download now</button>
            </div>
        </div>
        <div class="row cent-r1 cent-r3">
            <div class="col-md-6 tut">
                <img src="assets/image/agent.png" alt="image" class="img-responsive">
                <h2>Become our Offline Software Sales Agent</h2>
                <p>
                    You can get rewarded for your love for us! Get paid by referring Candidate to the platform. The More you refer, the more you get!
                </p>
                <button class="btn btn-locate">Signup now</button>
            </div>
            <div class="col-md-6 tut">
                <img src="assets/image/subscription.png" alt="image" class="img-responsive">
                <h2>PASS.NG Subscription</h2>
                <p>
                    Subcription to have access to the full plethora of PASS.NG is a seemless one with no difficulty at all!
                </p>
                <button class="btn btn-locate">Subscribe now</button>
            </div>
        </div>
    </div>
</div>

<!-- BLOCK 7 ENDS HERE -->

<!-- BLOCK 8 STARTS HERE -->
<div class="container-fluid">
    <div class="container">
        <div class="row test-r1">
            <div class="col-md-3 test-img">
                <img src="assets/image/testimony-img.jpg" alt="img" class="img-responsive">
            </div>
            <div class="col-md-7 test-r2">
                <h2>"My name is Ekweonu Henry, I reside in Abuja. I got a jamb score of 285. I really want to use this medium to appreciate PASS.NG for the innovative idea they have put in, in making this app a reality. God bless you guys for all your efforts".</h2>
            </div>
            <div class="col-md-2">
                <div class="test-more">
                    <button class="btn btn-test">More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 8 ENDS HERE -->
<!-- BLOCK 9 STARTS HERE -->

<div class="container-fluid connect">
    <div class="container">
        <div class="row con-r1">
            <div class="col-md-4">
                <h2>Connect with us</h2>
            </div>
            <div class="col-md-8">
                <ul class="ul-con">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-wechat"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BLOCK 9 ENDS HERE -->
<!-- BLOCK 10 STARTS HERE -->

<div class="container-fluid">
    <div class="container">
        <div class="part-r1">
            <h2>We've been featured in</h2>
        </div>
        <div class="row prt-x1">
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft1.JPG" alt="img" class="img-responsive">
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft2.JPG" alt="img" class="img-responsive">
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft3.JPG" alt="img" class="img-responsive">
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft4.JPG" alt="img" class="img-responsive">
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft5.JPG" alt="img" class="img-responsive">
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="assets/image/ft6.JPG" alt="img" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<!-- BLOCK 10 ENDS HERE -->