<div class="container-fluid soc-media">
    <div class="container">
        <div class="row soc-r1">
            <div class="col-md-6 soc-r2">
                <a class="pull-left soc-r3">
                    <button class="btn btn-phone">
                        <i class="fa fa-phone"></i>
                            <span>0701-222-2333</span>
                    </button>
                </a>
                <a class="pull-left soc-r3">
                    <button class="btn btn-phone">
                    <i class="fa fa-envelope"></i>
                    <span>info@pass.ng</span>
                    </button>
                </a>
            </div>
            <div class="col-md-6 soc-r2">
                <ul class="ul-soc pull-right">
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-weixin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>